@import "../../styles/variables";

.cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

@media screen and (min-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}