@import "../../styles/variables";

@media (min-width: 768px) {
    .details {
        display: flex;
        padding-top: 60px;

        &__media {
            flex-basis: 40%;
        }

        &__content {
            flex-basis: 60%;
            padding-left: 60px;
        }

        &__links {
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            margin: 16px 0;
        }

        &__link {
            background-color: $primary-color;
            border-radius: 8px;
            padding: .25rem .75rem;
            letter-spacing: 1px;
            transition: all .15s ease-in;

            &:hover {
                background-color: $primary-color;
            }
        }
    }
}