.card {
    position: relative;
    background-color: lightblue;

    &__picture {

    }

    &__image {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    &__heading {
        font-weight: 600;
    }

    &__button {
        &--select {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #fff;
        }
    }

    &__heart {
        color: #3AA1A6;
    }
}

