@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


@import "./styles/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-bolder {
  font-weight: 900;
}

h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  font-weight: 900;
  color: $primary-color;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

.bg-light-blue {
  background-color: $light-blue;
}

main {
  padding: 20px 0;
  min-height: calc(100vh - 220px);
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  // background: linear-gradient(39deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(149,176,178,0.5004595588235294) 100%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='977.231' height='551.886' viewBox='0 0 977.231 551.886'%3E%3Cpath id='BG_Shape' data-name='BG Shape' d='M996.131,0H18.9L138.321,372.833l857.81,179.053Z' transform='translate(-18.9)' fill='%23f5fbfc' opacity='0.87'/%3E%3C/svg%3E");

  background-size: auto;
  background-position: 100% 0;
  background-repeat: no-repeat;
  z-index: -1;
}